<div ng-app="selectDemoBasic" ng-controller="AppCtrl">
  <md-select style="position: absolute; left: 45%; top: 45%"
    ng-model="myChoice">
    <md-label>Choice: {{myChoice}}</md-label>
    <md-option value="1">1</md-option>
    <md-option value="2">2</md-option>
    <md-option value="3">3</md-option>
    <md-option value="4">4</md-option>
    <md-option value="5">5</md-option>
  </md-select>
 
  <!-- <md-button ng-click="openSelect($event)" style="position: absolute; top: 0; left: 20%;"> -->
  <!--  OPEN IT!!! -->
 <!-- </md-button> -->
  <!-- <md-button ng-click="openSelect($event)" style="position: absolute; top: 25px; left: 20%;"> -->
  <!--  OPEN IT!!! -->
 <!-- </md-button> -->
  <!-- <md-button ng-click="openSelect($event)" style="position: absolute; top: 50px; left: 20%;"> -->
  <!--  OPEN IT!!! -->
 <!-- </md-button> -->
  <!-- <md-button ng-click="openSelect($event)" style="position: absolute; top: 80px; left: 20%;"> -->
  <!--  OPEN IT!!! -->
 <!-- </md-button> -->
  <!-- <md-button ng-click="openSelect($event)" style="position: absolute; top: 160px; left: 20%;"> -->
  <!--  OPEN IT!!! -->
 <!-- </md-button> -->
  <!-- <md-button ng-click="openSelect($event)" style="position: absolute; bottom: 0; left: 20%;"> -->
  <!--  OPEN IT!!! -->
 <!-- </md-button> -->
  <!-- <md-button ng-click="openSelect($event)" style="position: absolute; bottom: 25px; left: 20%;"> -->
  <!--  OPEN IT!!! -->
 <!-- </md-button> -->
  <!-- <md-button ng-click="openSelect($event)" style="position: absolute; bottom: 50px; left: 20%;"> -->
  <!--  OPEN IT!!! -->
 <!-- </md-button> -->
  <!-- <md-button ng-click="openSelect($event)" style="position: absolute; bottom: 80px; left: 20%;"> -->
  <!--  OPEN IT!!! -->
 <!-- </md-button> -->
  <!-- <md-button ng-click="openSelect($event)" style="position: absolute; bottom: 160px; left: 20%;"> -->
  <!--  OPEN IT!!! -->
 <!-- </md-button> -->
 <br/>
 <!-- <md-button ng-click="openNoChoice($event)" style="margin-left: 20%; margin-top: 20%;" class="no-choice"> -->
 <!--   OPEN IT NO CHOICE!!! -->
 <!-- </md-button> -->
</div>
